HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBea
.sts4-cache

### VS Code ###
.vscode/


logs/
docs/

.DS_Store